page-bar-detail {

    #main-heading {
        display: flex;
        justify-content: space-between;
    }

    .block-button {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px) !important;
    }

}



